<div class="col px-1">
    <div class="h-100 d-flex flex-column justify-content-center">
        <img class="card-img" src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/704/127/products/diseno-sin-titulo-211-059dcb0bfc766b751716637008467141-480-0.webp" alt="..." />
        <!-- Product details-->
        <div class="">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="">Sale Item</h5>
                <!-- Product price-->
                <span class="text-muted text-decoration-line-through">$50.00</span>
                $25.00
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer">
            <div class="text-center py-1"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
    </div>
</div>