:root{
    --color-blue: #425a7d;
    --color-blue-light: #a0c0d6;
    --color-white: #e5fafc;
    --color-orange: #df7356;
    --color-dark: #2a3240;
}

*{
    padding: 0;
    margin: 0;
}

body{
    min-width: 375PX;
}

.icon{
    max-width: 24px;
    max-height: 24px;
}

.bg-blue{
    background-color: var(--color-blue);
}
.bg-blue-light{
    background-color: var(--color-blue-light);
}
.bg-white{
    background-color: var(--color-white);
}
.bg-orange{
    background-color: var(--color-orange);
}
.bg-blue-dark{
    background-color: var(--color-dark);
}
.blue{
    color: var(--color-blue);
}
.blue-light{
    color: var(--color-blue-light);
}
.white{
    color: var(--color-white);
}
.orange{
    color: var(--color-orange);
}
.dark{
    color: var(--color-dark);
}